.TourCard {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $box-shadow;
  max-width: 290px;
}

.img {
  width: 100%;
  height: 230px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
    padding: 0 20px;
  margin-top: 22px;
  h4 {
    font-size: $font-lg;
  }

  p {
    margin-top: 15px;
    font-size: $font-sm;
    color: $gray;
  }
}

.price {
  margin: 60px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  b {
    font-weight: $font-bold;
    font-size: $font-lg;
    color: $dark-gray;
  }
}

.button{
    font-size: $font-md;
    padding: 9px 12px;
}
