// colors

$black: #000000;
$white: #ffffff;
$page-bg: #f9f9f9;
$gray: #878787;
$light-gray: #efefef;
$dark-gray: #424242;
$orange: #ffcf57;

$box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);

// fonts
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 24px;
$font-sm-title: 32px;
$font-md-title: 38px;
$font-lg-title: 42px;
$font-xl-title: 48px;

// weights

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
